<div class="row">
    <div class="col-12 div-loading" [ngClass]="{'mostrar mat-elevation-z5': !verTabla, 'ocultar': verTabla}">
        <ngx-loading [show]="loadingTrue" [config]='loadingConfig'></ngx-loading>
    </div>
    <div class="col-12 " [ngClass]="{'mostrar': verTabla, 'ocultar': !verTabla}">
        <div class="mat-elevation-z5 container-table">
            <table datatable [dtOptions]=" dtOptions " [dtTrigger]="dtTrigger " class="row-border hover dt ">
                <thead class="dtHead ">
                    <tr>
                        <th class="verMasDt"></th>
                        <th class="editarDt">Acción</th>
                        <th>Sistema</th>
                        <th>Fecha</th>
                        <th>Servidor</th>
                        <th>Error</th>
                        <th>Código de Error</th>
                        <th>Descripción</th>
                        <th>Página</th>
                    </tr>
                </thead>
                <tbody class="dtBody ">
                    <tr *ngFor="let item of listadoBitacora ">
                        <td class="verMasDt "></td>
                        <td class="editarDt ">
                            <button class="btn-detalle" mat-icon-button (click)="verDetalle(item.excepcionDetalleId)">
                                <i class="fas fa-plus-circle icono-detalle"></i>
                            </button>
                        </td>
                        <td>{{ item.sistemaDescripcion }}</td>
                        <td>{{ item.fechaOcurrencia }}</td>
                        <td>{{ item.servidor }}</td>
                        <td>{{ item.error }}</td>
                        <td>{{ item.errorNumero }}</td>
                        <td>{{ item.errorDescripcion }}</td>
                        <td>{{ item.pagina }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>