.progress-loading-page {
    position: absolute;
    z-index: 5000;
    background: white;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    mat-progress-spinner {
        transform: translate(-50%, -50%);
        position: fixed;
        z-index: 999;
        height: 2em;
        width: 2em;
        overflow: visible;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}