// =========ESTILOS DE BOTONES ==============
.btn-ternium-primary {
    background-color: #ff3300 !important;
    border-radius: 20px !important;
    color: #FFF !important;
}

.btn :hover {
    background-color: #fff;
    border-radius: 20px !important;
    color: #ff3300;
}