@media (max-width: 575px) {
    .notifier__notification {
        width: 90% !important;
    }
}

@media (min-width: 576px) {
    .notifier__notification {
        width: 90% !important;
    }
}

@media (min-width: 768px) {
    .notifier__notification {
        width: 45% !important;
    }
}

.notifier__notification-button {
    padding: 0px !important;
}

.notifier__notification-message {
    word-break: break-all;
}