// ========== ESTILOS DE TABLAS
.mat-table {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    .mat-header-cell {
        background-color: #1e2533 !important;
        color: white !important;
        font-weight: bold;
        font-size: 14px;
    }
}

.mat-paginator {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.mat-table__wrapper .mat-table {
    min-width: auto !important;
    width: 100% !important;
}

.mat-header-row {
    width: 100%;
}

.mat-row {
    width: 100%;
}

#paginadorGrilla {
    .mat-select {
        width: 65px;
        border: none;
    }
    .mat-form-field-underline {
        display: none;
    }
}

#filtroGrilla {
    width: 180px;
}
