<div class="row">
    <div class="col-md-10 col-sm-10 col-10">
        <li class="li-breadcrumb"><a><span class="tc-7b7b7b item-breadcrumb">Configuración</span></a></li> /
        <li class="li-breadcrumb"><a class="tc-7b7b7b item-breadcrumb" [routerLink]="['../sistemas']">Bitácora de Excepciones</a></li>

        <button mat-icon-button (click)="abrirModalFiltros()">
          <i class="fa fa-filter" style="font-size:1.5em;"></i>
      </button>
    </div>
    <div class="col-md-2 col-sm-2 col-2 text-right">
        <button mat-icon-button (click)="regresar()">
        <mat-icon class="icon-menu-toogle" aria-hidden="false" aria-label="home">arrow_back</mat-icon>
    </button>
    </div>
</div>
<app-cintilla-config-excepciones></app-cintilla-config-excepciones>
<div class="wrapper">
    <app-grilla-config-excepciones></app-grilla-config-excepciones>
</div>
