// Medidas de las columnas
.mat-header-cell {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.mat-column-accion {
    flex: 0 0 10% !important;
    padding-bottom: 0px;
}

.mat-column-sistema {
    flex: 0 0 40% !important;
}

.mat-column-fechaInicio {
    flex: 0 0 10% !important;
}

.mat-column-horaInicio {
    flex: 0 0 10% !important;
}

.mat-column-fechaFin {
    flex: 0 0 10% !important;
}

.mat-column-horaFin {
    flex: 0 0 10% !important;
}

.mat-column-estado {
    flex: 0 0 10% !important;
}