.mat-calendar-body-selected {
    background-color: #ff3300 !important;
}

.cdk-overlay-container {
    z-index: 999 !important;
}

.timepicker__header {
    background-color: #7b7b7b !important;
}

.clock-face__clock-hand {
    background-color: #ff3300 !important;
}

.clock-face__clock-hand_minute {
    &::before {
        border-color: #ff3300 !important;
    }
}

.clock-face__number>span.active {
    background-color: #ff3300 !important;
}

.input-date-time {
    background-color: white !important;
}