<h2 mat-dialog-title>{{tituloModal}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-lg-4 form-group">
            <label for="">Identificador</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-lg-4 form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-lg-4 form-group">
            <label for="">Alias</label>
            <input class="form-control" type="text">
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button class="boton-ternium" mat-button>Guardar</button>
</mat-dialog-actions>