<h2 mat-dialog-title>{{tituloModal}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-lg-3 form-group">
            <label for="">Identificador</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-lg-6 form-group">
            <label for="">Nombre</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Estado</label> <br>
            <mat-slide-toggle></mat-slide-toggle>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 form-group">
            <label for="">Alias</label>
            <input class="form-control" type="text">
        </div>
        <div class="col-lg-6 form-group">
            <label for="">Área Propietaria</label>
            <select name="" id="" class="form-control">
                <option value="1">Option 1</option>
                <option value="1">Option 1</option>
                <option value="1">Option 1</option>
                <option value="1">Option 1</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <label for="">Descipción</label>
            <textarea rows="3" class="form-control"></textarea>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button class="boton-ternium" mat-button>Guardar</button>
</mat-dialog-actions>