<h2 mat-dialog-title>{{tituloModal}}</h2>
<form [formGroup]="grupoFormulario" (ngSubmit)="buscar(this.filtrosConector)">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-lg-6 form-group">
                <label for="">Sistema</label>
                <input class="form-control input-ternium" type="text" matInput [matAutocomplete]="sisId" formControlName="sistemaId" (keyup)="setearValorAutocomplete('conectorConfiguracionId', -1, '')">
                <mat-autocomplete #sisId="matAutocomplete" [displayWith]="mostrarValor" (optionSelected)="consultarConfigconectorCombo($event.option.value)">
                    <mat-option *ngFor="let sistema of sistemaCombo | async" [value]="sistema">
                        <span>{{sistema.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
                <div class="div-errors" *ngIf="sistemaId.invalid && ( sistemaId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label for="">Conector</label>
                <input class="form-control input-ternium" type="text" matInput [matAutocomplete]="conId" formControlName="conectorConfiguracionId">
                <mat-autocomplete #conId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let configConector of configConectorCombo | async" [value]="configConector">
                        <span>{{configConector.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
                <div class="div-errors" *ngIf="conectorConfiguracionId.invalid && ( conectorConfiguracionId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['conectorConfiguracionId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label>Fecha Desde</label>
                <input type="text" class="form-control input-date-time" [matDatepicker]="fD" (click)="fD.open()" formControlName="fechaDesde" [(ngModel)]="datosFiltros.fechaDesde" placeholder="dd/mmm/aaaa">
                <mat-datepicker [touchUi]="isMobile" #fD></mat-datepicker>
                <div class="div-errors" *ngIf="submitted && grupoFormulario.errors">
                    <div class="container-error" *ngIf="grupoFormulario.errors.invalidDateRange">
                        <span class="tc-ff3300">Fecha Desde debe ser menor o igual que Fecha Hasta</span>
                    </div>
                    <div class="container-error" *ngIf="grupoFormulario.errors.moreThanRangeDays">
                        <span class="tc-ff3300">{{grupoFormulario.errors.message}}</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label>Fecha Hasta</label>
                <input type="text" class="form-control input-date-time" [matDatepicker]="fH" (click)="fH.open()" formControlName="fechaHasta" [(ngModel)]="datosFiltros.fechaHasta" placeholder="dd/mmm/aaaa">
                <mat-datepicker [touchUi]="isMobile" #fH></mat-datepicker>
                <div class="div-errors" *ngIf="submitted && grupoFormulario.errors">
                    <div class="container-error" *ngIf="grupoFormulario.errors.invalidDateRange">
                        <span class="tc-ff3300">Fecha Desde debe ser menor o igual que Fecha Hasta</span>
                    </div>
                    <div class="container-error" *ngIf="grupoFormulario.errors.moreThanRangeDays">
                        <span class="tc-ff3300">{{grupoFormulario.errors.message}}</span>
                    </div>
                </div>
            </div>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button class="btn-ternium-secondary" mat-button mat-dialog-close>Cancelar</button>
        <button class="btn-ternium-primary" mat-button>Buscar</button>
    </mat-dialog-actions>
</form>