<div class="row controles-tabla">

    <div class="col-12 text-right">
        <button class="btn-ternium-primary" (click)="abrirModalGuardar()" mat-raised-button>Crear</button>
    </div>
</div>
<div class="row">
    <div class="col-12 div-loading" [ngClass]="{'mostrar mat-elevation-z5': !verTabla, 'ocultar': verTabla}">
        <ngx-loading [show]="loadingTrue" [config]='loadingConfig'></ngx-loading>
    </div>
    <div class="col-12 " [ngClass]="{'mostrar': verTabla, 'ocultar': !verTabla}">
        <div class="mat-elevation-z5 container-table">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover dt">
                <thead class="dtHead">
                    <tr>
                        <th class="verMasDt"></th>
                        <th class="editarDt">Acción</th>
                        <th>Sistema</th>
                        <th>Ruta Log</th>
                        <th>Frecuencia</th>
                        <th>Horario</th>
                        <th>Ventana Mantenimiento</th>
                        <th data-priority="1">Estado</th>
                    </tr>
                </thead>
                <tbody class="dtBody">
                    <tr *ngFor="let item of listadoConfiguExcepciones">
                        <td class="verMasDt"></td>
                        <td class="editarDt">
                            <button mat-icon-button (click)="consultarConfigExcepcionesId(item.excepcionConfiguracionId)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td>{{ item.sistemaDescripcion }}</td>
                        <td>{{ item.rutaLog }}</td>
                        <td>{{ item.frecuencia }}</td>
                        <td>{{ item.horaDesde | hourFormat }} - {{ item.horaHasta | hourFormat }}</td>
                        <td>{{item.ventanaMantenimiento}}</td>
                        <td>
                            <mat-slide-toggle [checked]="!item.baja" (change)="actualizarEstado($event, item)"></mat-slide-toggle>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>