.mat-header-cell {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

// Medidas de las columnas
.mat-column-accion {
    flex: 0 0 80px !important;
    min-width: 80px !important;
    padding-bottom: 0px;
}

.mat-column-estado {
    flex: 0 0 70px !important;
    min-width: 70px !important;
}

.mat-column-frecuencia {
    flex: 0 0 90px !important;
    min-width: 90px !important;
}

.mat-column-horario {
    flex: 0 0 130px !important;
    min-width: 130px !important;
}

@media screen and (min-width: 569px) {
    .mat-table {
        .mat-header-cell {
            &.mat-column-frecuencia {
                justify-content: center;
            }
            &.mat-column-horario {
                justify-content: center;
            }
            &.mat-column-ventanaMantenimiento {
                justify-content: center;
            }
        }
        .mat-cell {
            &.mat-column-frecuencia {
                justify-content: center;
            }
            &.mat-column-horario {
                justify-content: center;
            }
            &.mat-column-estado {
                justify-content: center;
            }
            &.mat-column-ventanaMantenimiento {
                justify-content: center;
            }
        }
    }
}