<div class="row controles-tabla">
    <div class="col-8">
        <input id="filtroGrilla" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </div>
    <div class="col-4 text-right">
        <button class="btn-ternium-primary" (click)="abrirModalGuardar()" mat-raised-button>Crear</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="mat-elevation-z5">
            <mat-table [dataSource]="dataSource" matSort>

                <!-- COLUMNA ACCION -->
                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef>Acción</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="accion">
                        <button mat-icon-button (click)="consultarConfigExcepcionesId(row)"><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <!-- COLUMNA SISTEMA -->
                <ng-container matColumnDef="sistema">
                    <mat-header-cell *matHeaderCellDef>Sistema</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="sistema">{{row.sistemaDescripcion}}</mat-cell>
                </ng-container>

                <!-- COLUMNA RUTA LOG -->
                <ng-container matColumnDef="rutaLog">
                    <mat-header-cell *matHeaderCellDef>Ruta Log</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="ruta Log">{{row.rutaLog}}</mat-cell>
                </ng-container>

                <!-- COLUMNA FRECUENCIA -->
                <ng-container matColumnDef="frecuencia">
                    <mat-header-cell *matHeaderCellDef>Frecuencia</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="frecuencia">{{row.frecuencia}}</mat-cell>
                </ng-container>

                <!-- COLUMNA HORARIO -->
                <ng-container matColumnDef="horario">
                    <mat-header-cell *matHeaderCellDef>Horario</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="horario">{{row.horaDesde | hourFormat}} - {{row.horaHasta | hourFormat}}</mat-cell>
                </ng-container>

                <!-- COLUMNA VENTANA MANTENIMIENTO -->
                <ng-container matColumnDef="ventanaMantenimiento">
                    <mat-header-cell *matHeaderCellDef>Ventana Mantenimiento</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="ventana Mantenimiento">{{row.ventanaMantenimiento}}</mat-cell>
                </ng-container>

                <!-- COLUMNA ESTADO -->
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="estado">
                        <mat-slide-toggle [checked]="!row.baja" (change)="actualizarEstado($event, row)"></mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <!-- CONFIGURACION DE COLUMNAS Y FILAS -->
                <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
            </mat-table>
            <mat-paginator id="paginadorGrilla" [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" [hidden]="length < pageSize"></mat-paginator>
        </div>
    </div>
</div>