<h2 mat-dialog-title>{{tituloModal}}</h2>
<form [formGroup]="grupoFormulario" (ngSubmit)="buscar(this.mantenimientoModel)">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-lg-12 form-group">
                <label for="">Sistema</label>
                <input class="form-control input-ternium" type="text" formControlName="sistemaId" matInput [matAutocomplete]="sisId">
                <div class="div-errors" *ngIf="sistemaId.invalid && ( sistemaId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
                <mat-autocomplete #sisId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let sistema of sistemaCombo | async" [value]="sistema">
                        <span>{{sistema.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 form-group">
                <label>Fecha Desde</label>
                <input type="text" class="form-control date-time-disabled" [matDatepicker]="fD" (click)="fD.open()" formControlName="fechaDesde" [ngModel]="datosFiltros.fechaDesde" placeholder="dd/mmm/aaaa">
                <mat-datepicker [touchUi]="isMobile" #fD></mat-datepicker>
                <div class="div-errors" *ngIf="fechaDesde.invalid && ( fechaDesde.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['fechaDesde'].hasError('requiredFromDate')">
                        <span class="tc-ff3300">Campo Requerido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidDateRange')">
                        <span class="tc-ff3300">El rango de fechas es inválido</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <label>Fecha Hasta</label>
                <input type="text" class="form-control date-time-disabled" [matDatepicker]="fH" (click)="fH.open()" formControlName="fechaHasta" [ngModel]="datosFiltros.fechaHasta" placeholder="dd/mmm/aaaa">
                <mat-datepicker [touchUi]="isMobile" #fH></mat-datepicker>
                <div class="div-errors" *ngIf="fechaHasta.invalid && ( fechaHasta.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['fechaHasta'].hasError('requiredToDate')">
                        <span class="tc-ff3300">Campo Requerido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidDateRange')">
                        <span class="tc-ff3300">El rango de fechas es inválido</span>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn-ternium-secondary" mat-button mat-dialog-close>Cancelar</button>
        <button class="btn-ternium-primary" mat-button [disabled]=!grupoFormulario.valid>Buscar</button>
    </mat-dialog-actions>
</form>