<h2 mat-dialog-title>{{tituloModal}}</h2>
<form [formGroup]="grupoFormulario" (ngSubmit)="guardarMantenimiento(this.mantenimientoModel)">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-9 form-group">
                <input formControlName="ventanaMantenimientoId" type="hidden" [ngModel]="datosEditar.ventanaMantenimientoId">
                <label for="">Sistema</label>
                <input class="form-control input-ternium" type="text" matInput [matAutocomplete]="sisId" formControlName="sistemaId" [readonly]="esEdicion">
                <div class="div-errors" *ngIf="sistemaId.invalid && ( sistemaId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['sistemaId'].hasError('required')">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="!grupoFormulario.controls['sistemaId'].hasError('required') && grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
                <mat-autocomplete #sisId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let sistema of sistemaCombo | async" [value]="sistema">
                        <span>{{sistema.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="col-3 form-group">
                <label for="">Estado</label> <br>
                <mat-slide-toggle formControlName="baja" [ngModel]="datosEditar.baja" (change)="changeMatToggle($event)">
                </mat-slide-toggle>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 form-group">
                <label>Fecha Desde</label>
                <input class="form-control date-time-disabled" [matDatepicker]="fD" (click)="fD.open()" readonly formControlName="fechaDesde" [ngModel]="datosEditar.fechaDesde" placeholder="DD/MM/YYYY">
                <div class="div-errors" *ngIf="fechaDesde.invalid && ( fechaDesde.touched )">
                    <div class="container-error" *ngIf="fechaDesde.errors.requiredFromDate">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidDateRange')">
                        <span class="tc-ff3300">El rango de fechas es inválido</span>
                    </div>
                </div>
                <mat-datepicker #fD></mat-datepicker>
            </div>
            <div class="col-12 col-sm-6 col-md-6 form-group">
                <label>Hora Desde</label>
                <input class="form-control" [ngxTimepicker]="hD" type="text" readonly [format]="24" formControlName="horaDesde" [ngModel]="datosEditar.horaDesde" placeholder="00:00 (24 Hrs)">
                <div class="div-errors" *ngIf="horaDesde.invalid && ( horaDesde.touched )">
                    <div class="container-error" *ngIf="horaDesde.errors.requiredFromTime">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="horaDesde.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidTimeRange')">
                        <span class="tc-ff3300">El rango de horas es inválido</span>
                    </div>
                </div>
                <ngx-material-timepicker #hD [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" [theme]=" this.terniumTheme"></ngx-material-timepicker>

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 form-group">
                <label>Fecha Hasta</label>
                <input class="form-control date-time-disabled" [matDatepicker]="fH" (click)="fH.open()" readonly formControlName="fechaHasta" [ngModel]="datosEditar.fechaHasta" placeholder="DD/MM/YYYY">
                <div class="div-errors" *ngIf="fechaHasta.invalid && ( fechaHasta.touched )">
                    <div class="container-error" *ngIf="fechaHasta.errors.requiredToDate">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidDateRange')">
                        <span class="tc-ff3300">El rango de fechas es inválido</span>
                    </div>
                </div>
                <mat-datepicker #fH></mat-datepicker>
            </div>
            <div class="col-12 col-sm-6 col-md-6 form-group">
                <label>Hora Hasta</label>
                <input formControlName="horaHasta" class="form-control" [ngxTimepicker]="hH" [format]="24" type="text" readonly [ngModel]="datosEditar.horaHasta" placeholder="00:00 (24 Hrs)">
                <div class="div-errors" *ngIf="horaHasta.invalid && ( horaHasta.touched )">
                    <div class="container-error" *ngIf="horaHasta.errors.requiredToTime">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="horaHasta.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidTimeRange')">
                        <span class="tc-ff3300">El rango de horas es inválido</span>
                    </div>
                </div>
                <ngx-material-timepicker #hH [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" [theme]=" this.terniumTheme"></ngx-material-timepicker>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn-ternium-secondary" mat-button mat-dialog-close>Cancelar</button>
        <button class="btn-ternium-primary" mat-button [disabled]=!grupoFormulario.valid>Guardar</button>
    </mat-dialog-actions>
    <ng-template #cancelBtn>
        <button class="btn-ternium-secondary" mat-button style="margin-right:5px">Cancelar</button>
    </ng-template>
    <ng-template #confirmBtn>
        <button class="btn-ternium-primary" mat-button>Aceptar</button>
    </ng-template>
</form>