// =========ESTILOS DE BOTONES ==============
.btn-ternium-primary {
    background-color: #ff3300 !important;
    border-radius: 20px !important;
    color: #FFF;
    &:disabled {
        background-color: #ff6039 !important;
        color: whitesmoke !important;
    }
    &:hover {
        background-color: #fff !important;
        border: 1.5px #ff3300 solid !important;
        color: #ff3300 !important;
        transform: translate3d(0, 0, 0);
        transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    }
}

.btn-ternium-secondary {
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px #ff3300 solid !important;
    color: #ff3300 !important;
    &:disabled {
        background-color: #ff6039 !important;
        color: whitesmoke !important;
    }
}

.btn-testRuta {
    cursor: pointer !important;
    color: #303030 !important;
    margin-top: -10px !important;
}

.icono-detalle {
    font-size: 20px;
}