// Campo de filtro
// Cabecera de la tabla
<<<<<<< HEAD
.mat-header-cell {
    background-color: #a9aFB0;
    color: white;
}

.boton-ternium {
    margin-top: 15px;
}
=======
>>>>>>> c8488289e243a238971a3eaa9d759f583368245f
