// Campo de filtro
// Cabecera de la tabla
.mat-header-cell {
    background-color: #a9aFB0;
    color: white;
}

// Medidas de las columnas
.mat-column-accion {
    flex: 0 0 80px !important;
    min-width: 80px !important;
}

.mat-column-identificador {
    flex: 0 0 9% !important;
    min-width: 104px !important;
}

.mat-column-estado {
    flex: 0 0 70px !important;
    min-width: 70px !important;
}

.mat-column-critico {
    flex: 0 0 70px !important;
    min-width: 70px !important;
}
