.icon-menu-toogle{
    color: #7B7B7B;
}
.titulo-web{
    margin-left: 12px;
}
#logo-ternium{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: 10px;
}
.icono-nav-toogle{
    margin-left: 150px;    
}
.titulo-monitor{
    font-size: small;
    color:#f6f6f6;

}
.titulo-proceso{
    font-size: small;
    color: #ff3300;
    margin-top: -15px;
}
.mat-toolbar {
    background: #0a1522;
}