<mat-card>
    <div class="header-grafico">
        <div class="titulo-grafico">
            BITÁCORA DE EJECUCIONES
        </div>


        <div class="icono-grafico">
            <button mat-icon-button class="more-button" (click)="irBitacora()">
                <i class="fas fa-link"></i>
              </button>
        </div>

    </div>
    <mat-card-content>
        <div>
            <ngx-loading [show]="!verGrafico" [config]='loadingConfig'></ngx-loading>
        </div>
        <div>
            <canvas id="graficoEjecuciones"></canvas>
        </div>
    </mat-card-content>
</mat-card>