.mat-header-cell {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

// Medidas de las columnas
.mat-column-accion {
    flex: 0 0 80px !important;
    min-width: 80px !important;
    padding-bottom: 0px;
}

.mat-column-estado {
    flex: 0 0 70px !important;
    min-width: 70px !important;
}

.mat-column-conectorConfiguracionId {
    flex: 0 0 90px !important;
    min-width: 90px !important;
}

@media screen and (min-width: 569px) {
    .mat-table {
        .mat-cell {
            &.mat-column-estado {
                justify-content: center;
            }
            &.mat-column-conectorConfiguracionId {
                justify-content: center;
            }
        }
    }
}