// Medidas de las columnas
.mat-column-accion {
    flex: 0 0 80px !important;
    min-width: 80px !important;
}

.mat-column-estado {
    flex: 0 0 70px !important;
    min-width: 70px !important;
}

@media screen and (min-width: 569px) {
    .mat-table {
        .mat-cell {
            &.mat-column-estado {
                justify-content: center;
            }
        }
    }
}