<h2 mat-dialog-title>{{tituloModal}}</h2>
<form [formGroup]="grupoFormulario" (ngSubmit)="buscar(this.configExcepcionesModel)">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-lg-12 form-group">
                <label for="">Sistema</label>
                <input class="form-control input-ternium" type="text" formControlName="sistemaId" matInput [matAutocomplete]="sisId">
                <div class="div-errors" *ngIf="sistemaId.invalid && ( sistemaId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
                <mat-autocomplete #sisId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let sistema of sistemaCombo | async" [value]="sistema">
                        <span>{{sistema.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn-ternium-secondary" mat-button mat-dialog-close>Cancelar</button>
        <button class="btn-ternium-primary" mat-button [disabled]=!grupoFormulario.valid>Buscar</button>
    </mat-dialog-actions>
</form>