<div class="wrapper">
    <div class="row">
        <div class="col-md-12">
            <li class="li-breadcrumb"><a> <span class="tc-7b7b7b">Inventario de Aplicaciones</span> </a></li> /
            <li class="li-breadcrumb"><a class="tc-7b7b7b" [routerLink]="['../sistemas']">Sistemas</a></li>

            <button mat-icon-button>
                <i class="fa fa-filter" style="font-size:1.5em;"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="boton-ternium" mat-raised-button>Agregar</button>
            br  
        </div>
    </div>
</div>