<div class="row">
    <div class="col-md-10 col-sm-10 col-10">
        <li class="li-breadcrumb">
            <a> <span class="tc-7b7b7b item-breadcrumb">Dashboard Monitor</span> </a>
        </li>
        <button mat-icon-button (click)="abrirModalFiltros()">
            <i class="fa fa-filter" style="font-size:1.5em;"></i>
        </button>
    </div>
    <div class="col-md-2 col-sm-2 col-2 text-right">
        <button class="btn-back-movil" mat-icon-button (click)="regresar()">
            <mat-icon class="icon-menu-toogle" aria-hidden="false" aria-label="home">arrow_back</mat-icon>
        </button>
    </div>
</div>
<app-cintilla-dashboard></app-cintilla-dashboard>
<div class="wrapper">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 ">
            <app-grafico-excepciones></app-grafico-excepciones>
        </div>
        <div class="col-12 col-sm-12 col-md-12  col-xl-4 ">
            grafica
        </div>
        <div class="col-12 col-sm-12 col-md-12  col-xl-4 ">
            grafica
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            grafica
        </div>
    </div>
</div>