<mat-card>
    <div class="header-grafico">
        <div class="titulo-grafico">
            BITÁCORA DE EXCEPCIONES
        </div>


        <div class="icono-grafico">
            <button mat-icon-button class="more-button">
                <i class="fas fa-link"></i>
              </button>
        </div>

    </div>
    <mat-card-content>
        <div *ngIf="loader">
            <img class="loader-graficos" src="./../../../../assets/img/loader.gif" alt="">

        </div>
        <div>
            <canvas id="bar"></canvas>
        </div>
    </mat-card-content>
</mat-card>