<app-navbar-movil></app-navbar-movil>
<app-navbar-web></app-navbar-web>
<mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="open">
        <mat-list class="mat-list-menu">
            <mat-list-item>
                <div [routerLink]="['dashboard']" routerLinkActive="router-link-active" class="tc-a9afb0 fs-16" style="width: 200px;">
                    Dashboard Monitor
                </div>
                <div style="display: inline;">
                    <button mat-button mat-icon-button (click)="mostrarMenu1 = !mostrarMenu1">
                        <mat-icon class="menu-button " [ngClass]="{'rotated' : mostrarMenu1}">expand_more</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <div class="submenu   fs-14" [ngClass]="{'expanded' : mostrarMenu1}">
                <mat-list-item>
                    <a class="item-secondary tc-a9afb0 " [routerLink]="['excepciones']" routerLinkActive="router-link-active" mat-button>Bitácora de Excepciones</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="item-secondary tc-a9afb0" [routerLink]="['ejecuciones']" routerLinkActive="router-link-active" mat-button>Bitácora de Ejecución</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="item-secondary tc-a9afb0" [routerLink]="['monitoreo']" routerLinkActive="router-link-active" mat-button>Monitoreo</a>
                </mat-list-item>
            </div>

            <mat-list-item>
                <div [routerLink]="['sistemas']" routerLinkActive="router-link-active" class="tc-a9afb0 fs-16" style="width: 200px;">
                    Inventario de Aplicaciones
                </div>
                <div style="display: inline;">
                    <button mat-button mat-icon-button (click)="mostrarMenu2 = !mostrarMenu2">
                        <mat-icon class="menu-button " [ngClass]="{'rotated' : mostrarMenu2}">expand_more</mat-icon>
                    </button>
                </div>
            </mat-list-item>
            <div class="submenu   fs-14" [ngClass]="{'expanded' : mostrarMenu2}">
                <mat-list-item>
                    <a class="item-secondary tc-a9afb0 " [routerLink]="['sistemas']" routerLinkActive="router-link-active" mat-button>Catálogo de Sistemas</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="item-secondary tc-a9afb0" [routerLink]="['procesos']" routerLinkActive="router-link-active" mat-button>Catálogo de Procesos</a>
                </mat-list-item>
                <mat-list-item>
                    <a class="item-secondary tc-a9afb0" [routerLink]="['mantenimientos']" routerLinkActive="router-link-active" mat-button>Mantenimientos</a>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
