@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~angular-notifier/styles";
@import './assets/scss/ternium.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
// DatePicker
// @import "~ng-pick-datetime/assets/style/picker.min.css";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background-color: #fff;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// bg-colors
.bc-f25c29 {
    background-color: #F25C29 !important;
}

.bc-7b7b7b {
    background-color: #7b7b7b !important;
}

.bc-e7e7e7 {
    background-color: #e7e7e7 !important;
}

.bc-orange1 {
    background-color: #ff9900 !important;
}

.bc-1e2533 {
    background-color: #1e2533 !important;
}

.bc-0a1522 {
    background-color: #0a1522 !important;
}

// text-colors
.tc-white {
    color: #FFF;
}

.tc-dark-gray-01 {
    color: #303030 !important;
}

.tc-a9afb0 {
    color: #a9afb0;
}

.tc-303030 {
    color: #303030;
}

.tc-7b7b7b {
    color: #7b7b7b;
}

.tc-ff3300 {
    color: #ff3300 !important;
}

.tc-f6f6f6 {
    color: #f6f6f6 !important;
}

// textsize
.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-10 {
    font-size: 10px !important;
}

// ==================== ALINEACION DE TEXTO ===================
.ta-center {
    text-align: center !important;
}

.img-user {
    width: 40px !important;
    height: 40px !important;
}

app-breadcrumb>app-ng7-bootstrap-breadcrumb>nav>ol>li>a {
    color: #303030 !important;
}

.router-link-active {
    color: #f30 !important;
}

mat-sidenav-content {
    color: #7b7b7b !important;
    background-color: #fff !important;
}

.wrapper {
    padding-left: 5px;
    padding-right: 5px;
    margin: 15px 0;
}

.row {
    margin: 0px !important;
    padding: 0px !important;
}

.li-breadcrumb {
    display: inline;
    font-weight: bold;
    font-size: 14px !important;
}

// =========== ESTILOS DE MODAL ===============
mat-dialog-container {
    background-color: #fff !important;
    color: #7b7b7b !important;
}

// slide
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ff3300 !important
}

.mat-slide-toggle-bar {
    background-color: #A9AFB0
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #A9AFB0;
}

// text areas
textarea {
    resize: none !important;
}

// select de material
.mat-option-text {
    color: #7b7b7b;
}

.mat-select-value-text {
    color: #7b7b7b;
}

select {
    border-radius: 20px !important;
}

// ============== GRADIENTE ==================
.gradiente1 {
    background: rgb(255, 51, 0);
    background: -moz-linear-gradient(45deg, rgba(255, 51, 0, 1) 0%, rgba(255, 153, 0, 1) 50%);
    background: -webkit-linear-gradient(45deg, rgba(255, 51, 0, 1) 0%, rgba(255, 153, 0, 1) 50%);
    background: linear-gradient(45deg, rgba(255, 51, 0, 1) 0%, rgba(255, 153, 0, 1) 50%);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff3300", endColorstr="#ff9900", GradientType=1);
}

.gradiente2 {
    background: rgb(30, 37, 51);
    background: -moz-linear-gradient(45deg, rgba(30, 37, 51, 1) 0%, rgba(1, 13, 26, 1) 35%);
    background: -webkit-linear-gradient(45deg, rgba(30, 37, 51, 1) 0%, rgba(1, 13, 26, 1) 35%);
    background: linear-gradient(45deg, rgba(30, 37, 51, 1) 0%, rgba(1, 13, 26, 1) 35%);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#1e2533", endColorstr="#010d1a", GradientType=1);
}

// mat-tab
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ff3300 !important;
}

.mat-tab-label-active {
    color: #ff3300 !important;
    font-weight: bold;
}