<h2 mat-dialog-title>{{tituloModal}}</h2>
<form [formGroup]="grupoFormulario" (ngSubmit)="guardarConfiguracionExcepcion(this.configExcepcionesModel)">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3 form-group">
                <input formControlName="excepcionConfiguracionId" type="hidden" [ngModel]="datosEditar.excepcionConfiguracionId">
                <label for="">Sistema</label>
                <input class="form-control input-ternium" type="text" matInput [matAutocomplete]="sisId" formControlName="sistemaId">
                <div class="div-errors" *ngIf="sistemaId.invalid && ( sistemaId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['sistemaId'].hasError('required')">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="!grupoFormulario.controls['sistemaId'].hasError('required') && grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
                <mat-autocomplete #sisId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let sistema of sistemaCombo | async" [value]="sistema">
                        <span>{{sistema.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 form-group">
                <label for="">Frecuencia</label>
                <input formControlName="frecuencia" class="form-control" type="text" [ngModel]="datosEditar.frecuencia">
                <div class="div-errors" *ngIf="frecuencia.invalid && ( frecuencia.touched )">
                    <div class="container-error" *ngIf="frecuencia.errors.required">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.minlength">
                        <span class="tc-ff3300">Mínimo 1 caracter</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.maxlength">
                        <span class="tc-ff3300">Máximo 5 caracteres</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.min">
                        <span class="tc-ff3300">El valor numérico mínimo es de 1</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.max">
                        <span class="tc-ff3300">El valor numérico máximo es de 32767</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 form-group">
                <label for="">Hora Desde</label>
                <input formControlName="horaDesde" class="form-control" [ngxTimepicker]="hD" type="text" [format]="24" readonly [ngModel]="datosEditar.horaDesde" placeholder="00:00 (24 Hrs)">
                <div class="div-errors" *ngIf="horaDesde.invalid && ( horaDesde.touched )">
                    <div class="container-error" *ngIf="horaDesde.errors.requiredFromTime">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="horaDesde.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidTimeRange')">
                        <span class="tc-ff3300">El rango de horas es inválido</span>
                    </div>
                </div>
                <ngx-material-timepicker #hD [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" [theme]="this.terniumTheme"></ngx-material-timepicker>

            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 form-group">
                <label for="">Hora Hasta</label>
                <input formControlName="horaHasta" class="form-control" [ngxTimepicker]="hH" [format]="24" type="text" readonly [ngModel]="datosEditar.horaHasta" placeholder="00:00 (24 Hrs)">
                <div class="div-errors" *ngIf="horaHasta.invalid && ( horaHasta.touched )">
                    <div class="container-error" *ngIf="horaHasta.errors.requiredToTime">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="horaHasta.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
                <div class="div-errors" *ngIf="grupoFormulario.invalid">
                    <div class="container-error" *ngIf="grupoFormulario.hasError('invalidTimeRange')">
                        <span class="tc-ff3300">El rango de horas es inválido</span>
                    </div>
                </div>
                <ngx-material-timepicker #hH [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" [theme]=" this.terniumTheme"></ngx-material-timepicker>

            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group">
                <label for="">Ruta Log</label>
                <input formControlName="rutaLog" class="form-control" type="text" [ngModel]="datosEditar.rutaLog">
                <div class="div-errors" *ngIf="rutaLog.invalid && ( rutaLog.touched )">
                    <div class="container-error" *ngIf="rutaLog.errors.required">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="rutaLog.errors.minlength">
                        <span class="tc-ff3300">Mínimo 3 caracteres</span>
                    </div>
                    <div class="container-error" *ngIf="rutaLog.errors.maxlength">
                        <span class="tc-ff3300">Máximo 250 caracteres</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3 form-group">
                <label for="">Ventana Mantenimiento</label>
                <input formControlName="rutaLog" class="form-control" type="text" [ngModel]="datosEditar.rutaLog" readonly>
            </div>

            <div class="col-6 col-sm-6 col-md-3 col-lg-3 form-group">
                <label for="">Estado</label> <br>
                <mat-slide-toggle formControlName="baja" [ngModel]="datosEditar.baja" (change)="changeEstadoMatToggle($event)">
                </mat-slide-toggle>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 form-group">
                <label for="">Test Ruta</label> <br>
                <button mat-icon-button (click)="testearRuta()" [disabled]="!grupoFormulario.value.rutaLog"><mat-icon>loop</mat-icon></button>

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="btn-ternium-secondary" mat-button mat-dialog-close>Cancelar</button>
        <button class="btn-ternium-primary " mat-button [disabled]=!grupoFormulario.valid>Guardar</button>
    </mat-dialog-actions>


    <ng-template #cancelBtn>
        <button class="btn-ternium-secondary" mat-button style="margin-right:5px">Cancelar</button>
    </ng-template>
    <ng-template #confirmBtn>
        <button class="btn-ternium-primary" mat-button>Aceptar</button>
    </ng-template>
</form>