<h2 mat-dialog-title>{{tituloModal}}</h2>
<form [formGroup]="grupoFormulario" (ngSubmit)="guardarConfiguracionEjecucion(this.configEjecucionesModel)">
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-lg-3 form-group">
                <input formControlName="ejecucionConfiguracionId" type="hidden" [ngModel]="datosEditar.ejecucionConfiguracionId">
                <label for="">Sistema</label>
                <input class="form-control" type="text" matInput [matAutocomplete]="sisId" formControlName="sistemaId">
                <div class="div-errors" *ngIf="sistemaId.invalid && ( sistemaId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['sistemaId'].hasError('required')">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="!grupoFormulario.controls['sistemaId'].hasError('required') && grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
                <mat-autocomplete #sisId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let sistema of sistemaCombo | async" [value]="sistema">
                        <span>{{sistema.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="col-lg-3 form-group">
                <label for="">Frecuencia</label>
                <input formControlName="frecuencia" class="form-control" type="text" [ngModel]="datosEditar.frecuencia">
                <div class="div-errors" *ngIf="frecuencia.invalid && ( frecuencia.touched )">
                    <div class="container-error" *ngIf="frecuencia.errors.required">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.minlength">
                        <span class="tc-ff3300">Mínimo 1 caracter</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.maxlength">
                        <span class="tc-ff3300">Máximo 5 caracteres</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.min">
                        <span class="tc-ff3300">El valor numérico mínimo es de 1</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.max">
                        <span class="tc-ff3300">El valor numérico máximo es de 32767</span>
                    </div>
                    <div class="container-error" *ngIf="frecuencia.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 form-group">
                <div style="text-align: center;">
                    <label for="">Horario</label>
                </div>

                <div class="row">
                    <div class="col-lg-6 form-group" style="padding-left:0">
                        <input class="form-control" [ngxTimepicker]="hD" type="text" readonly [format]="24" formControlName="horaDesde" [ngModel]="datosEditar.horaDesde">
                        <div class="div-errors" *ngIf="horaDesde.invalid && ( horaDesde.touched )">
                            <div class="container-error" *ngIf="horaDesde.errors.requiredFromTime">
                                <span class="tc-ff3300">Campo requerido</span>
                            </div>
                            <div class="container-error" *ngIf="horaDesde.errors.pattern">
                                <span class="tc-ff3300">Formato inválido</span>
                            </div>
                        </div>
                        <div class="div-errors" *ngIf="grupoFormulario.invalid">
                            <div class="container-error" *ngIf="grupoFormulario.hasError('invalidTimeRange')">
                                <span class="tc-ff3300">El rango de horas es inválido</span>
                            </div>
                        </div>
                        <ngx-material-timepicker #hD [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" [theme]=" this.terniumTheme"></ngx-material-timepicker>
                    </div>
                    <div class="col-lg-6 form-group" style="padding-right:0">
                        <input formControlName="horaHasta" class="form-control" [ngxTimepicker]="hH" [format]="24" type="text" readonly [ngModel]="datosEditar.horaHasta">
                        <ngx-material-timepicker #hH [cancelBtnTmpl]="cancelBtn" [confirmBtnTmpl]="confirmBtn" [theme]=" this.terniumTheme"></ngx-material-timepicker>
                        <div class="div-errors" *ngIf="horaHasta.invalid && ( horaHasta.touched )">
                            <div class="container-error" *ngIf="horaHasta.errors.requiredToTime">
                                <span class="tc-ff3300">Campo requerido</span>
                            </div>
                            <div class="container-error" *ngIf="horaHasta.errors.pattern">
                                <span class="tc-ff3300">Formato inválido</span>
                            </div>
                        </div>
                        <div class="div-errors" *ngIf="grupoFormulario.invalid">
                            <div class="container-error" *ngIf="grupoFormulario.hasError('invalidTimeRange')">
                                <span class="tc-ff3300">El rango de horas es inválido</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 form-group text-right">
                <label for="">Test Ruta</label> <br>
                <button mat-icon-button (click)="testearRuta()" [disabled]="!grupoFormulario.value.rutaLog"><mat-icon>edit</mat-icon></button>

            </div>
            <div class="col-lg-3 form-group">
                <label for="">Proceso</label>
                <input class="form-control" type="text" matInput [matAutocomplete]="procId" formControlName="procesoId">
                <div class="div-errors" *ngIf="procesoId.invalid && ( procesoId.touched )">
                    <div class="container-error" *ngIf="grupoFormulario.controls['procesoId'].hasError('required')">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="!grupoFormulario.controls['procesoId'].hasError('required') && grupoFormulario.controls['sistemaId'].hasError('incorrect')">
                        <span class="tc-ff3300">Campo Inválido</span>
                    </div>
                </div>
                <mat-autocomplete #procId="matAutocomplete" [displayWith]="mostrarValor">
                    <mat-option *ngFor="let proceso of procesoCombo | async" [value]="proceso">
                        <span>{{proceso.descripcion}}</span>
                    </mat-option>
                </mat-autocomplete>
            </div>
            <div class="col-lg-3 form-group">
                <label for="">Ruta Log</label>
                <input formControlName="rutaLog" class="form-control" type="text" [ngModel]="datosEditar.rutaLog">
                <div class="div-errors" *ngIf="rutaLog.invalid && ( rutaLog.touched )">
                    <div class="container-error" *ngIf="rutaLog.errors.required">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="rutaLog.errors.minlength">
                        <span class="tc-ff3300">Mínimo 3 caracteres</span>
                    </div>
                    <div class="container-error" *ngIf="rutaLog.errors.maxlength">
                        <span class="tc-ff3300">Máximo 250 caracteres</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 form-group">
                <label for="">Ventana Mantenimiento</label>
                <input formControlName="rutaLog" class="form-control" type="text" readonly [ngModel]="datosEditar.rutaLog">
            </div>

            <div class="col-lg-2 form-group text-right">
                <label for="">Estado</label> <br>
                <mat-slide-toggle formControlName="baja" [ngModel]="datosEditar.baja" (change)="changeEstadoMatToggle($event)">
                </mat-slide-toggle>
            </div>

            <div class="col-lg-3 form-group">
                <label for="">Tiempo Estimado Ejecución</label>
                <input formControlName="tiempoEstimadoEjecucion" class="form-control" type="text" [ngModel]="datosEditar.tiempoEstimadoEjecucion">
                <div class="div-errors" *ngIf="tiempoEstimadoEjecucion.invalid && ( tiempoEstimadoEjecucion.touched )">
                    <div class="container-error" *ngIf="tiempoEstimadoEjecucion.errors.required">
                        <span class="tc-ff3300">Campo requerido</span>
                    </div>
                    <div class="container-error" *ngIf="tiempoEstimadoEjecucion.errors.minlength">
                        <span class="tc-ff3300">Mínimo 1 caracter</span>
                    </div>
                    <div class="container-error" *ngIf="tiempoEstimadoEjecucion.errors.maxlength">
                        <span class="tc-ff3300">Máximo 5 caracteres</span>
                    </div>
                    <div class="container-error" *ngIf="tiempoEstimadoEjecucion.errors.min">
                        <span class="tc-ff3300">El valor numérico mínimo es de 1</span>
                    </div>
                    <div class="container-error" *ngIf="tiempoEstimadoEjecucion.errors.max">
                        <span class="tc-ff3300">El valor numérico máximo es de 32767</span>
                    </div>
                    <div class="container-error" *ngIf="tiempoEstimadoEjecucion.errors.pattern">
                        <span class="tc-ff3300">Formato inválido</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 form-group">
                <label for="">Tiempo Óptimo Ejecución</label>
                <input formControlName="tiempoOptimoEjecucion" class="form-control" type="text" [ngModel]="datosEditar.tiempoOptimoEjecucion">
            </div>
            <div class="col-lg-6 form-group text-right" style="margin-top:25px">
                <button class="btn-ternium-secondary" mat-button mat-dialog-close>Cancelar</button>
                <button class="btn-ternium-primary " mat-button [disabled]=!grupoFormulario.valid>Guardar</button>
            </div>
        </div>
    </mat-dialog-content>
    <ng-template #cancelBtn>
        <button class="btn-ternium-secondary" mat-button style="margin-right:5px">Cancelar</button>
    </ng-template>
    <ng-template #confirmBtn>
        <button class="btn-ternium-primary" mat-button>Aceptar</button>
    </ng-template>
</form>