<div class="row controles-tabla">
    <div class="col-8">
        <input id="filtroGrilla" matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </div>
    <div class="col-4 text-right">
        <button class="btn-ternium-primary" (click)="abrirModalGuardar()" mat-raised-button>Agregar</button>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="mat-elevation-z5">
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Acción">
                        <button mat-icon-button (click)="consultarSistemaId(row)"><mat-icon>edit</mat-icon></button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="identificador">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Identificador</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Identificador">{{row.sistemaId}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="alias">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Alias</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Alias">{{row.alias}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Nombre">{{row.sistemaDescripcion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="areaPropietaria">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Área Propietaria</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Area Propietaria">{{row.gerenciaDescripcion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="descripcion">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Descripción">{{row.descripcion}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Estado">
                        <mat-slide-toggle [checked]="!row.baja" (change)="actualizarEstado($event, row)"></mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
            </mat-table>
            <mat-paginator id="paginadorGrilla" [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event" [hidden]="length < pageSize"></mat-paginator>
        </div>
    </div>
</div>
