<div class="row controles-tabla">
    <div class="col-12 text-right">
        <button class="btn-ternium-primary" (click)="abrirModalGuardar()" mat-raised-button>Crear</button>
    </div>
</div>
<div class="row">
    <div class="col-12 div-loading" [ngClass]="{'mostrar mat-elevation-z5': !verTabla, 'ocultar': verTabla}">
        <ngx-loading [show]="loadingTrue" [config]='loadingConfig'></ngx-loading>
    </div>
    <div class="col-12 " [ngClass]="{'mostrar': verTabla, 'ocultar': !verTabla}">
        <div class="mat-elevation-z5 container-table">
            <table datatable [dtOptions]=" dtOptions " [dtTrigger]="dtTrigger " class="row-border hover dt ">
                <thead class="dtHead ">
                    <tr>
                        <th class="verMasDt " data-priority="1 "></th>
                        <th class="editarDt " data-priority="2 ">Acción</th>
                        <th>Identificador</th>
                        <th>Alias</th>
                        <th data-priority="4 ">Nombre</th>
                        <th>Área Propietaria</th>
                        <th>Descripción</th>
                        <th data-priority="3 ">Estado</th>
                    </tr>
                </thead>
                <tbody class="dtBody ">
                    <tr *ngFor="let item of listadoSistemas ">
                        <td class="verMasDt "></td>
                        <td class="editarDt ">
                            <button mat-icon-button (click)="consultarSistemaId(item.sistemaId) ">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                        <td>{{ item.sistemaId }}</td>
                        <td>{{ item.alias }}</td>
                        <td>{{ item.sistemaDescripcion }}</td>
                        <td>{{ item.gerenciaDescripcion }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>
                            <mat-slide-toggle [checked]="!item.baja " (change)="actualizarEstado($event, item) "></mat-slide-toggle>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>